*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a{
    color: white;
}

h2{
    text-align: center;
}


.main{
    background-image: url(/images/bg.png);
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    flex-wrap: wrap;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{ 
    background-image: url(/images/title.png);
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    background-position: center;
    background-size: contain;
    margin-top: 320px;
    /* border: 1px solid red; */
}

.startButton{
    margin-top: auto;
    font-size: 16px;
    margin-bottom: 100px;
}

.startButton:hover{
    opacity: 50%;
    cursor: pointer;
}